/*******************************************
BODY
*******************************************/

body{
    background:pink;
}

/*******************************************
NAV
*******************************************/
nav{
    background:green;
}

/*******************************************
HEADER
*******************************************/
header{ 
    background:red;
}

/*******************************************
MAIN
*******************************************/
main{
    background:yellow;
}

/*******************************************
FOOTER
*******************************************/
footer{
    background:blue;
}